html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  overflow: hidden;

  background-color: #fefefe;
  font-family: arial;
}

canvas {
	position: fixed;
	z-index: 0;
	width: 100%;
	top:0;
	right: 0;
}

.summary {
	z-index: 1;
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	position: relative;
}

.title {
	position:absolute;
	top:30%;
	left:0;
	width:100%;
	font-size: 40px;
	padding: 20px;
	box-sizing: border-box;
}

.overview {
	position: absolute;
	top: 30%;
	left:0;
	width: 100%;
	font-size: 20px;
	padding: 100px;
	text-align: justify;
	box-sizing: border-box;
}


.phone {
	z-index: 1;
	margin: 0;
	padding: 0;
	width: 50%;
	max-width: 600px;
	height: 100%;
	position: relative;
	float:right;
}

.phone > img {
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
}

/* SVG animation */

.draw-fast {
  opacity: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 5s linear forwards;
}

.draw-slow {
  opacity: 1;
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: draw 5s linear forwards;
}

.iphone-5 {
	fill: #111;
	stroke: #eee;
	stroke-width: 0.5;
	/*opacity: 0;*/
	/*animation: color 20s ease forwards;*/
}

.iphone-5 .screen {
	fill: #111;
	opacity: 1;
	animation: color 5s ease forwards;
}


@keyframes draw {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes color {
  0% { fill: #111; }
  50% { fill: #111; }
  80% { fill: #eee; }
  100% { fill: #eee; }
}
 
.doctor{
  fill-opacity:0;
  stroke: #eee;
  stroke-width: 10;
  stroke-dasharray: 4500;
  stroke-dashoffset: 4500;
  animation: doctor 5s linear forwards;
}

@keyframes doctor {
  0% { fill-opacity: 0;
  		stroke:#eee;
  		stroke-dashoffset: 4500; }
  60% { fill-opacity: 0;
  		stroke:#eee;}
  80% { fill-opacity: 0.5;
  		stroke:#eee;
  		stroke-opacity:1;
  		stroke-dashoffset: 0; }
  100% { fill-opacity: 1;
  		stroke-opacity:0;
  		stroke:none;
  		stroke-dashoffset: 0; }
}
